html {
	width: 100%;
}
body {
	background: #36393e;
	color: #bfbfbf;	/* writing */
	font-size:15px;
}
.bg-nav {
	background-color: #2C3034;
}
.cursor-pointer {
	cursor: pointer;
}
.cursor-default {
	cursor: default;
}
.hide {
	display: none;
}
.top-border {
	border-top: 2px solid white;
}
.bottom-border {
	border-bottom: 2px solid white;
}
input[type=number] {
	bottom: 100px;
	text-align: center;
	background-color: #878e96; /* #212529 */
	width: 60px;
	height: 32px;
	border: 1px;
	border-radius: 2px;
	color: white;
}
input[type=text] {
	text-align: center;
	background-color: #8c9093;
	width: 120px;
	height: 30px;
	border: 1px;
	border-radius: 2px;
}
